<div class="site-wrapper">

<div class="site-wrapper-inner">

  <div class="cover-container">

    <div class="masthead clearfix">
      <div class="inner">
        <h3 class="masthead-brand"><i class="fa fa-bolt"></i> Bolt Web</h3>
        <nav class="nav nav-masthead">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </div>

    <div class="inner cover">
      <h1 class="cover-heading">Faster then a bolt!</h1>
      <p class="lead">quick start your webproject with angular, gulp, sass, bootstrap and fontawesome.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
      </p>
    </div>

    <div class="mastfoot">
      <div class="inner">
        <p>Project <i class="fa fa-bolt"></i> made with <i class="fa fa-heart"></i> in Floripa, by <a href="https://twitter.com/leualemax">@leualemax</a>.</p>
      </div>
    </div>

  </div>

</div>

</div>
