<div class="site-wrapper">

<div class="site-wrapper-inner">

  <div class="cover-container">

    <div class="masthead clearfix">
      <div class="inner">
        <h3 class="masthead-brand"><i class="fa fa-bolt"></i> Bolt Web</h3>
        <nav class="nav nav-masthead">

          <a class="nav-link active" href="#">Bolt-Web</a>
          <a class="nav-link " href="#">Bolt-Mobile</a>
          <a class="nav-link" href="#">Bolt-API</a>
        </nav>
      </div>
    </div>

    <div class="inner cover">
      <h1 class="cover-heading">Faster then a bolt!</h1>
      <p class="lead">quick start your webproject with angular, gulp, sass, bootstrap and fontawesome.</p>
      <p class="lead">
        <a href="https://github.com/leualemax/bolt-web" class="btn btn-lg btn-primary-outline"><i class="fa fa-github"></i> Fork now!</a>
      </p>

      <div class="code">
        <p>git clone https://github.com/leualemax/bolt-web.git</p>
        <p>npm install</p>
        <p>bower install</p>
        <p>gulp serve</p>
      </div>


    </div>

    <div class="mastfoot">
      <div class="inner">
        <p>Project <i class="fa fa-bolt"></i> made with <i class="fa fa-heart"></i> in Floripa, by <a href="https://twitter.com/leualemax">@leualemax</a>.</p>
      </div>
    </div>

  </div>

</div>

</div>
